<div class="fhv-login-disabled">
  <div class="fhv-login-disabled__box">
    <h1 class="fhv-login-disabled__box__title">
      {{ "common.blocked_page.account_deleted_title" | translate }}
    </h1>
    <ul
      class="fhv-login-disabled__box__subtitle"
      *ngFor="let motivo of reasonReports$ | async"
    >
      <li>{{ motivo }}</li>
    </ul>
    <div class="fhv-login-disabled__box__icon">
      <i class="{{ icon_class.exclamation_signal }}"></i>
    </div>
    <button
      class="fhv-login-disabled__box__button"
      type="button"
      (click)="redirectMainPage()"
    >
      {{ "common.blocked_page.return_home_page" | translate }}
    </button>
  </div>
</div>
