@import "media-queries";
@import "buttons";
@import "font-size";

.fhv-login-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3.5rem);
  background: var(--color-bg-blocked-user);
  &__box {
    border-radius: var(--border-radius-containers);
    background-color: var(--color-message-error);
    height: auto;
    width: 80%;
    padding: 3.75rem;
    color: var(--color-white);
    background: var(--color-bg-gradient);

    &__title {
      @include apply-responsive-font-size($font-size-title);
      font-family: var(--font-family-medium);
    }

    &__subtitle {
      @include apply-responsive-font-size($font-size-subtitle);
      font-family: var(--font-family-medium);
      margin-top: 0.625rem;
    }

    &__icon {
      font-size: 8.625rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__button {
      @include buttons-back;
      width: 50%;
      background-color: var(--color-black);
      display: block;
      margin: 0 auto;
      margin-top: 1.25rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .fhv-login-disabled {
    &__box {
      width: 90%;
    }
  }
}

@include media-breakpoint-down(md) {
  .fhv-login-disabled {
    &__box {
      padding: 1.5rem;
      &__subtitle{
        margin-top: 2rem;
      }
      &__icon {
        font-size: 5rem;
      }
      &__button{
        width: 100%;
      }
    }
  }
}
