<fhv-bootstrap-modal
  modalTitle="{{
    'common.register_page.register_language_level_title' | translate
  }}"
>
  <div class="fhv-language-level-modal">
    <h1>
      {{ "common.register_page.register_language_level_first" | translate }}
    </h1>
    <p>
      {{
        "common.register_page.register_language_level_first_description"
          | translate
      }}
    </p>
    <h1>
      {{ "common.register_page.register_language_level_second" | translate }}
    </h1>
    <p>
      {{
        "common.register_page.register_language_level_second_description"
          | translate
      }}
    </p>
    <h1>
      {{ "common.register_page.register_language_level_third" | translate }}
    </h1>
    <p>
      {{
        "common.register_page.register_language_level_third_description"
          | translate
      }}
    </p>
  </div>
</fhv-bootstrap-modal>
