<div class="fhv-terms-condition">
  <div class="fhv-terms-condition__container">
    <div class="fhv-terms-condition__container__title">
      {{
        "common.terms_and_conditions_page.terms_and_conditions_title"
          | translate
      }}
      <a type="button" (click)="closeTermsAndConditions()"
        ><i class="{{ ICON_CLASS.x_close }}"></i
      ></a>
    </div>
    <div class="fhv-terms-condition__container__description">
      <h4>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_I.terms_and_conditions_I_title"
            | translate
        }}
      </h4>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_I.terms_and_conditions_I_description"
            | translate
        }}
      </p>

      <h4>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_title"
            | translate
        }}
      </h4>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_subtitle_1"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_description_1"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_subtitle_2"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_description_2"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_subtitle_3"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_description_3"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_subtitle_4"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_II.terms_and_conditions_II_description_4"
            | translate
        }}
      </p>

      <h4>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_title"
            | translate
        }}
      </h4>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_subtitle_1"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_description_1"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_subtitle_2"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_description_2"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_subtitle_3"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_description_3"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_subtitle_4"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_III.terms_and_conditions_III_description_4"
            | translate
        }}
      </p>

      <h4>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_IV.terms_and_conditions_IV_title"
            | translate
        }}
      </h4>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_IV.terms_and_conditions_IV_subtitle_1"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_IV.terms_and_conditions_IV_description_1"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_IV.terms_and_conditions_IV_subtitle_2"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_IV.terms_and_conditions_IV_description_2"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_IV.terms_and_conditions_IV_subtitle_3"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_IV.terms_and_conditions_IV_description_3"
            | translate
        }}
      </p>

      <h4>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_V.terms_and_conditions_V_title"
            | translate
        }}
      </h4>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_V.terms_and_conditions_V_subtitle_1"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_V.terms_and_conditions_V_description_1"
            | translate
        }}
      </p>
      <h5>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_V.terms_and_conditions_V_subtitle_2"
            | translate
        }}
      </h5>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_V.terms_and_conditions_V_description_2"
            | translate
        }}
      </p>

      <h4>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_VI.terms_and_conditions_VI_title"
            | translate
        }}
      </h4>
      <p>
        {{
          "common.terms_and_conditions_page.terms_and_conditions_VI.terms_and_conditions_VI_description_1"
            | translate
        }}
      </p>
    </div>
  </div>
</div>
