<div class="content">
  <div class="content__row">
    <div class="content__row__text color-v1">
      <h1 class="content__row__text-title">
        {{ 'common.home_page.first_container.title' | translate }}
      </h1>
      <h2 class="content__row__text-subtitle">
        {{ 'common.home_page.first_container.description' | translate }}
      </h2>
    </div>
    <div class="content__row__image">
      <img class="content__row__image-general" src="assets/images/homePage/p1.jpeg" />
    </div>
  </div>
  <div class="content__row">
    <div class="content__row__text color-v2">
      <h1 class="content__row__text-title">
        {{ 'common.home_page.second_container.title' | translate }}
      </h1>
      <h2 class="content__row__text-subtitle">
        {{ 'common.home_page.second_container.description' | translate }}
      </h2>
    </div>
    <div class="content__row__image">
      <img class="content__row__image-general" src="assets/images/homePage/p2.jpeg" />
    </div>
  </div>
  <div class="content__row">
    <div class="content__row__text color-v1">
      <h1 class="content__row__text-title">
        {{ 'common.home_page.third_container.title' | translate }}
      </h1>
      <h2 class="content__row__text-subtitle">
        {{ 'common.home_page.third_container.description' | translate }}
      </h2>
    </div>
    <div class="content__row__image">
      <img class="content__row__image-general" src="assets/images/homePage/p3.jpeg" />
    </div>
  </div>
  <div class="content__row">
    <h3 class="content__row__epigraph">
      {{ 'common.home_page.copyright_message' | translate }}
    </h3>
  </div>
</div>
