

fhv-shared-navbar {
  nav {
    //TODO Ver el estilo del header
    // height: 3.5rem; 
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: var(--color-base);
    color: var(--color-black);
    font-family: var(--font-family);
  }
  .dropdown-item {
    cursor: pointer;
  }
}
