<form
  class="form-group fhv-select-form"
  [formGroup]="areAllControlsFilled() ? formGroup() : selectFormGroup"
>
  <label class="fhv-select-form__label" for="{{ name() }}">{{ label() }}</label>
  <ng-select
    class="form-control"
    [formControlName]="areAllControlsFilled() ? name() : 'selectControlName'"
    [placeholder]="placeholder()"
    [searchable]="true"
    [ngClass]="{
      'fhv-select-form__focus': isSelected,
      'fhv-select-form__error': submitForm() && !!control()?.errors,
    }"
    [clearable]="clearable()"
    (focus)="onSelectFocus()"
    (blur)="onSelectBlur()"
    (change)="onSelectChange($event)"
  >
    @for(option of options(); track option){
    <ng-option>
      {{ option }}
    </ng-option>
    }
  </ng-select>
  <fhv-form-error [showError]="submitForm()" [control]="control()" />
</form>
