@mixin buttons-enabled {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--color-bg-submit);
  text-decoration: none;
  @include apply-responsive-font-size($font-size-text);
  padding: 0.5em 0.75em;
  color: var(--color-letter-button);
  text-transform: uppercase;
  border: 0.15em solid var(--color-background-home);
  width: 100%;
  transition: 2s;
  font-family: var(--font-family-medium);
  border-radius: var(--border-radius-button);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgba(#8cd1e9, 0.25);
    transition: 4s;
  }

  &:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
  }

  &:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
  }

  &:hover,
  &:focus {
    color: var(--color-white);

    &:before,
    &:after {
      transform: none;
      background-color: rgba(#8cd1e9, 0.75);
    }
  }
}

@mixin buttons-back {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: var(--color-bg-back);
  text-decoration: none;
  @include apply-responsive-font-size($font-size-text);
  padding: 0.5em 0.75em;
  color: var(--color-letter-button);
  text-transform: uppercase;
  border: 0.15em solid var(--color-style-back);
  width: 100%;
  transition: 2s;
  font-family: var(--font-family-medium);
  border-radius: var(--border-radius-button);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -1.5em;
    z-index: -1;
    width: 200%;
    aspect-ratio: 1;
    border: none;
    border-radius: 40%;
    background-color: rgba(#565658, 0.25);
    transition: 4s;
  }

  &:before {
    left: -80%;
    transform: translate3d(0, 5em, 0) rotate(-340deg);
  }

  &:after {
    right: -80%;
    transform: translate3d(0, 5em, 0) rotate(390deg);
  }

  &:hover,
  &:focus {
    color: var(--color-white);

    &:before,
    &:after {
      transform: none;
      background-color: rgba(#565658, 0.75);
    }
  }
}
