
/* Basic class definition for form errors */
@mixin text-error {
  color: var(--color-message-error);
  font-family: var(--font-family-light);
  margin-top: 0.25rem;
  @include apply-responsive-font-size($font-size-text);
}
