@import "./_font-size";
@import "./variables.scss";

/* Basic class definition for form errors */
@mixin text-error {
  color: $color-message-error;
  font-family: $font-family-light;
  margin-top: 0.25rem;
  @include apply-responsive-font-size($font-size-text);
}
