/* Variables definition */

/* Colors */
$color-base: aliceblue;
$color-principal: #2b6a78;
$color-background-home: #8cd1e9;
$color-message-error: #ff9234;

$color-bg-submit: #199de8;
$color-bg-back: #909293;
$color-style-back: #565658;
$color-border: #ccc;
$color-icon-princial: white;

$color-black: black;
$color-white: white;

$color-letter-button: #fff;

$color-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

/* Colors blocked route */

$color-bg-blocked-user: antiquewhite;
$color-bg-gradient: radial-gradient(circle, #ff7e5f, #feb47b);

/* Fonts */
$font-family: "Poppins Regular";
$font-family-bold: "Poppins Semibold";
$font-family-medium: "Poppins Medium";
$font-family-light: "Poppins Light";

/* Custom properties */
$border-radius-containers: 0.75rem;
$border-radius-input: 0.25rem;
$border-radius-button: 0.25rem;

/* Necessary imports */

@import "_fonts";
