<li class="fhv-modern-card__container" id="general-card-container">
  <a class="fhv-modern-card__container__card">
    <div class="fhv-modern-card__container__card__star" id="general-card-star">
      {{ room().cantidadEstrellas }}
      <i [class]="ICON_CLASS.star"></i>
    </div>
    @if(!(breakPointService.isMobile$ | async)){
    <ng-container *ngTemplateOutlet="icons"></ng-container>
    }
    <img
      [src]="room().urlFoto"
      class="fhv-modern-card__container__card__image"
    />
    <div class="fhv-modern-card__container__card__overlay">
      <div class="fhv-modern-card__container__card__overlay__header" >
        <svg class="fhv-modern-card__container__card__overlay__header__arc">
          <path />
        </svg>
        <span
          class="fhv-modern-card__container__card__overlay__header__thumb fi fi-{{
            room().urlBandera
          }} fis"
        ></span>
        <div class="fhv-modern-card__container__card__overlay__header-icons">
          <h3 class="fhv-modern-card__container__card__overlay__header__title"  id="general-card-info">
            {{ room().nombreUsuario }} - {{ room().edad }}
          </h3>
          @if(breakPointService.isMobile$ | async){
          <ng-container *ngTemplateOutlet="icons"></ng-container>
          }
        </div>
      </div>
      <div class="fhv-modern-card__container__card__overlay__description">
        @for (interest of room().intereses; track interest){
        <div
          class="fhv-modern-card__container__card__overlay__description-item"
        >
          {{ interest }}
        </div>
        }
      </div>
    </div>
  </a>
</li>
<ng-template #icons>
  <div class="d-flex">
    <div
      class="fhv-modern-card__container__card__msg"
      id="general-card-message"
      [ngClass]="{
        mobile: (breakPointService.isMobile$ | async)
      }"
      type="button"
    >
      <i [class]="ICON_CLASS.message"></i>
    </div>
    <div
      class="fhv-modern-card__container__card__call"
      type="button"
      id="general-card-call"
      [ngClass]="{
        mobile: (breakPointService.isMobile$ | async)
      }"
      (click)="goVideoCall(room())"
    >
      <i [class]="ICON_CLASS.video"></i>
    </div>
  </div>
</ng-template>
