<form class="form-group fhv-input-form" [formGroup]="formGroup">
  <label class="fhv-input-form__label" for="{{ name }}">{{ label }}</label>
  <input
    #input
    class="form-control fhv-input-form__input"
    [ngClass]="
      submitForm && !!control?.errors
        ? 'fhv-input-form__input__error'
        : 'fhv-input-form__input__focus'
    "
    [type]="type"
    [name]="name"
    [id]="name"
    placeholder="placeholder"
    [formControlName]="name"
    [max]="maxlength"
    [min]="minlength"
    [placeholder]="placeholder"
    [accept]="accept"
  />
  <fhv-form-error [showError]="submitForm" [control]="control"></fhv-form-error>
  @if (initialType) {
  <div class="fhv-input-form__eye">
    <fhv-eye-button
      (passwordTypeEmitter)="updatePasswordType($event)"
    ></fhv-eye-button>
  </div>
  }
</form>
