<div class="fhv-progress-bar">
  <div class="fhv-progress-bar__container">
    @for (rankingItem of rankingList(); track rankingItem.posicion){
    <div class="fhv-progress-bar__container__flex">
      <h1 class="fhv-progress-bar__container__flex__position">
        {{ rankingItem.posicion }}
      </h1>
      <div
        class="fhv-progress-bar__container__flex__image"
      >
        <img [src]="rankingItem.urlFoto" alt="profile_photo" />
      </div>
      <div class="fhv-progress-bar__container__flex__progress">
        <div
          #progressBar
          class="fhv-progress-bar__container__flex__progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          [attr.aria-label]="rankingItem.posicion"
          [attr.aria-valuenow]="rankingItem.puntosTotales"
          aria-valuemin="0"
          aria-valuemax="100"
          [style.width]="rankingItem.puntosTotales"
          [ngClass]="{
            'first-color': rankingItem.posicion === 1,
            'second-color': rankingItem.posicion === 2,
            'third-color': rankingItem.posicion === 3
          }"
        >
          <h1>{{ rankingItem.nombreUsuario }}</h1>
          <h1>
            {{
              "common.ranking.points"
                | translate: { points: rankingItem.puntosTotales }
            }}
          </h1>
        </div>
      </div>
    </div>
    }
  </div>
</div>
