<div class="fhv-common-ranking">
    <div class="fhv-common-ranking__container">
      <h1 class="fhv-common-ranking__container__title">RANKING DE POSICIONES</h1>
    </div>
  </div>
  
  <!-- <div *ngFor="let progress of progressBarsData; let i = index" class="progress">
    <div
      #progressBar
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      [attr.aria-label]="'Animated striped example ' + i"
      [attr.aria-valuenow]="progress.value"
      aria-valuemin="0"
      aria-valuemax="100"
      [style.width]="progress.width"
      [ngClass]="{'special-color': i < 3, 'default-color': i >= 3}"
  
    ></div>
  </div> -->
  