<div class="fhv-main-page">
  <div class="fhv-main-page__buttons">
    <div
      class="fhv-main-page__buttons__filter"
      type="button"
      (click)="openFilters()"
    >
      <span type="button">
        <i class="{{ ICON_CLASS.filter }}"></i>
      </span>
      {{ "common.main_page.main_button_filter" | translate }}
    </div>
    <div class="fhv-main-page__buttons__filter">
      <span type="button">
        <i class="{{ ICON_CLASS.plus }}"></i>
      </span>
      {{ "common.main_page.main_button_create_room" | translate }}
    </div>
    <div class="fhv-main-page__buttons__toggle" (click)="changeCardVersion()">
      <h1>{{ "common.main_page.main_classic_version" | translate }}</h1>
      @if(isClassicVersion){
      <span type="button">
        <i class="{{ ICON_CLASS.toggle_off }}"></i>
      </span>
      } @else {
      <span type="button">
        <i class="{{ ICON_CLASS.toggle_on }}"></i>
      </span>
      }
      <h1>{{ "common.main_page.main_modern_version" | translate }}</h1>
    </div>
    <div class="fhv-main-page__buttons__search">
      <fhv-input-form
        [name]="'search'"
        [type]="INPUT_TYPE.SEARCH"
        [formGroup]="searchForm"
        [control]="formService.formControl(searchForm, 'search')"
        placeholder="{{
          'common.main_page.main_search_room_placeholder' | translate
        }}"
        (search)="searchUsers()"
      />
    </div>
  </div>
  @if(userRoom$ | async; as userRoom){ @if(userRoom.length){
  @if(isClassicVersion){
  <fhv-classic-card [userRoom]="userRoom" />
  } @else {
  <fhv-modern-card [userRoom]="userRoom" />
  } } @else {
  <div class="fhv-main-page__empty">
    <h1>
      {{ "common.main_page.main_search_room_empty" | translate }}
    </h1>
  </div>
  } }@else {
  <fhv-spinner-general [showSpinner]="true" />
  }
</div>
