<fhv-bootstrap-modal
  modalTitle="{{ 'common.login_page.login_recover_pass' | translate }}"
>
  <form
    class="fhv-login-recover-password"
    [formGroup]="recoverPass"
    (ngSubmit)="sendEmailRecover()"
  >
    <h1 class="fhv-login-recover-password__title">
      {{ "common.login_page.login_recover_pass_title" | translate }}
    </h1>
    <fhv-input-form
      [name]="'emailRecover'"
      label="{{ 'common.login_page.login_recover_pass_label' | translate }}"
      [type]="INPUT_TYPE.EMAIL"
      [formGroup]="recoverPass"
      [control]="formService.formControl(recoverPass, 'emailRecover')"
      placeholder="{{
        'common.login_page.login_recover_pass_label_placeholder' | translate
      }}"
      [submitForm]="submitForm"
    />
    <div class="fhv-login-recover-password__container">
      <button
        type="submit"
        class="fhv-login-recover-password__container__button"
      >
        {{ "common.login_page.login_recover_pass_button" | translate }}
      </button>
    </div>
  </form>
</fhv-bootstrap-modal>
