@import "_buttons.scss";
@import "font-size";

.fhv-login-recover-password {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-family: var(--font-family);
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: var(--border-radius-containers);
  &__title {
    @include apply-responsive-font-size($font-size-subtitle);
  }
  &__container {
    display: flex;
    justify-content: center;
    &__button {
      @include buttons-enabled;
      width: 50%;
    }
  }
}
