.spinner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-bg-submit));
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 3.8px),
    #000 0
  );
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
