@if(parametersList$ | async ; as parametersList){
<form
  class="fhv-register"
  [formGroup]="registerForm"
  (ngSubmit)="registerUser()"
  (keydown.enter)="registerUser()"
>
  <div class="fhv-register__container">
    <div class="fhv-register__container__title">
      <span>
        {{ "common.register_page.register_title" | translate }}
      </span>
      <span class="fhv-register__container-subtitle">
        {{ "common.register_page.register_subtitle_personal_data" | translate }}
      </span>
    </div>
    <div class="fhv-register__container__form">
      <fhv-input-form
        [name]="'userName'"
        label="{{ 'common.register_page.register_name' | translate }}"
        [type]="INPUT_TYPE.TEXT"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'userName')"
        placeholder="{{
          'common.register_page.register_name_placeholder' | translate
        }}"
        [submitForm]="submitForm"
      />
      <fhv-input-form
        [name]="'userSurname'"
        label="{{ 'common.register_page.register_surname' | translate }}"
        [type]="INPUT_TYPE.TEXT"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'userSurname')"
        placeholder="{{
          'common.register_page.register_surname_placeholder' | translate
        }}"
        [submitForm]="submitForm"
      />
      <fhv-input-form
        [name]="'dateBorn'"
        label="{{ 'common.register_page.register_dateBorn' | translate }}"
        [type]="INPUT_TYPE.DATE"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'dateBorn')"
        [submitForm]="submitForm"
      />
      <fhv-select-form
        [name]="'country'"
        label="{{ 'common.register_page.register_country' | translate }}"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'country')"
        placeholder="{{
          'common.register_page.register_country_placeholder' | translate
        }}"
        [submitForm]="submitForm"
        [options]="parametersList.countryList"
      />
      <fhv-select-form
        [name]="'nativeLanguage'"
        label="{{
          'common.register_page.register_native_language' | translate
        }}"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'nativeLanguage')"
        placeholder="{{
          'common.register_page.register_native_language_placeholder'
            | translate
        }}"
        [submitForm]="submitForm"
        [options]="parametersList.languageList"
      />
      <fhv-input-form
        [name]="'urlPhoto'"
        label="{{ 'common.register_page.register_photo' | translate }}"
        [type]="INPUT_TYPE.FILE"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'urlPhoto')"
        [submitForm]="submitForm"
        [accept]="IMAGE_FORMAT.imagePermittedFormat"
        (change)="onInputChange($event)"
      />
    </div>
    <div class="fhv-register__container__title">
      <span class="fhv-register__container-subtitle">
        {{ "common.register_page.register_subtitle_account" | translate }}
      </span>
    </div>
    <div class="fhv-register__container__form">
      <fhv-input-form
        [name]="'email'"
        label="{{ 'common.register_page.register_email' | translate }}"
        [type]="INPUT_TYPE.EMAIL"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'email')"
        placeholder="{{
          'common.register_page.register_email_placeholder' | translate
        }}"
        [submitForm]="submitForm"
      />
      <fhv-input-form
        [name]="'password'"
        label="{{ 'common.register_page.register_password' | translate }}"
        [type]="INPUT_TYPE.PASSWORD"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'password')"
        placeholder="{{
          'common.register_page.register_password_placeholder' | translate
        }}"
        [submitForm]="submitForm"
      />
      <fhv-input-form
        [name]="'repeatPassword'"
        label="{{
          'common.register_page.register_repeat_password' | translate
        }}"
        [type]="INPUT_TYPE.PASSWORD"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'repeatPassword')"
        placeholder="{{
          'common.register_page.register_repeat_password_placeholder'
            | translate
        }}"
        [submitForm]="submitForm"
      />
    </div>
    <div class="fhv-register__container__title">
      <span class="fhv-register__container-subtitle">
        {{ "common.register_page.register_subtitle_interest" | translate }}
      </span>
    </div>
    <div class="fhv-register__container__form">
      <fhv-select-form
        [name]="'learnLanguage'"
        label="{{ 'common.register_page.register_learn_language' | translate }}"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'learnLanguage')"
        placeholder="{{
          'common.register_page.register_learn_language_placeholder' | translate
        }}"
        [submitForm]="submitForm"
        [options]="parametersList.languageList"
      />
      <div class="fhv-register__container__level">
        <fhv-select-form
          [name]="'languageLevel'"
          label="{{
            'common.register_page.register_level_language' | translate
          }}"
          [formGroup]="registerForm"
          [control]="formService.formControl(registerForm, 'languageLevel')"
          placeholder="{{
            'common.register_page.register_level_language_placeholder'
              | translate
          }}"
          [submitForm]="submitForm"
          [options]="parametersList.languageLevelList"
        />
        <span (click)="openLevelLanguageModal()">
          <i
            class="fhv-register__container__level__icon fa-beat {{
              ICON_CLASS.info
            }}"
          ></i>
        </span>
      </div>
      <div class="fhv-register__container__form__box">
        <label class="fhv-register__container__form__box__label">
          {{ "common.register_page.register_interest" | translate }}</label
        >
        <button
          class="fhv-register__container__form__modal"
          [ngClass]="{
            'button-error':
              registerForm.get('interest').value.length === 0 && submitForm
          }"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          (click)="openInterestModal()"
        >
          {{ "common.register_page.register_interest_placeholder" | translate }}
        </button>
        <div
          [ngClass]="{
            'fhv-register__container__form__interest':
              registerForm.get('interest').value.length !== 0
          }"
        >
          @if(!!registerForm.get('interest').value){
          <fhv-interest-label
            [control]="formService.formControl(registerForm, 'interest')"
            [activeDelete]="true"
          ></fhv-interest-label>
          }
        </div>
        <fhv-form-error
          [showError]="submitForm"
          [control]="formService.formControl(registerForm, 'interest')"
        />
      </div>
    </div>
    <fhv-text-area-form
      [name]="'descriptionUser'"
      label="{{ 'common.register_page.register_description' | translate }}"
      [formGroup]="registerForm"
      [control]="formService.formControl(registerForm, 'descriptionUser')"
      placeholder="{{
        'common.register_page.register_description_placeholder' | translate
      }}"
      [submitForm]="submitForm"
    />
    <div>
      <fhv-input-checkbox
        [name]="'terms'"
        label="{{ 'common.register_page.register_terms' | translate }}"
        [formGroup]="registerForm"
        [control]="formService.formControl(registerForm, 'terms')"
        [submitForm]="submitForm"
        [labelRoute]="ROUTES_PATH.TERMS_CONDITION_PATH"
      />
    </div>
    <div class="fhv-register__container__buttons">
      <button
        type="button"
        class="fhv-register__container__buttons-back"
        (click)="goBack()"
      >
        {{ "common.register_page.register_button_back" | translate }}
      </button>
      <button
        type="submit"
        class="fhv-register__container__buttons-next"
        (click)="registerUser()"
      >
        {{ "common.register_page.register_button_next" | translate }}
      </button>
    </div>
  </div>
</form>
} @else {
<fhv-spinner-general [showSpinner]="true"></fhv-spinner-general>
}
