<div class="fhv-login">
  <div class="fhv-login__figure"></div>
  <div class="fhv-login__container">
    <form
      class="fhv-login__container__form"
      [formGroup]="loginForm"
      (ngSubmit)="sendLoginSession()"
    >
      <h1 class="fhv-login__container__form__title">
        {{ "common.login_page.login_title" | translate }}
      </h1>
      <fhv-input-form
        [name]="'email'"
        label="{{ 'common.login_page.login_email' | translate }}"
        [type]="INPUT_TYPE.EMAIL"
        [formGroup]="loginForm"
        [control]="formService.formControl(loginForm, 'email')"
        placeholder="{{
          'common.login_page.login_email_placeholder' | translate
        }}"
        [submitForm]="submitForm"
      >
      </fhv-input-form>
      <fhv-input-form
        [name]="'password'"
        label="{{ 'common.login_page.login_password' | translate }}"
        [type]="INPUT_TYPE.PASSWORD"
        [formGroup]="loginForm"
        [control]="formService.formControl(loginForm, 'password')"
        placeholder="{{
          'common.login_page.login_pass_placeholder' | translate
        }}"
        [submitForm]="submitForm"
      >
      </fhv-input-form>

      <div class="fhv-login__container__form__buttons">
        <button
          type="submit"
          class="fhv-login__container__form__buttons-submit"
        >
          {{ "common.login_page.login_submit_button" | translate }}
        </button>
      </div>
      <fhv-form-error
        [errorMessage]="
          'common.login_page.login_email_pasword_error' | translate
        "
        [showError]="submitError"
      ></fhv-form-error>
      <div class="fhv-login__container__form__recover">
        <a (click)="openRecoverPassModal()">  {{ "common.login_page.login_recover_pass" | translate }}</a>
      </div>
    </form>
  </div>
</div>
