@import "media-queries";
@import "_buttons.scss";
@import "error-message";
@import "font-size";
@import "dotted-line";

/* Mixin only for login component */
@mixin background-login {
  background-image: url(../../../../../../../public/assets/images/login/people.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fhv-login {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--color-primary);
  &__container {
    @extend %flex-align-justify-center;
    min-height: var(--height-components);
    width: 50%;
    padding: 1rem 8rem;
    border-radius: var(--border-radius-containers);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    @include dotted-line-before;
    &__form {
      margin: 0 auto;
      width: 100%;
      z-index: 1;
      &__title {
        text-align: center;
        margin-bottom: 1.25rem;
        color: var(--color-white);
        font-family: var(--font-family-bold);
        @include apply-responsive-font-size($font-size-title);
      }
      &__buttons {
        @extend %flex-align-justify-center;
        flex-direction: column;
        row-gap: 1.25rem;

        &-submit {
          @include buttons-enabled;
        }
      }
      &__recover {
        padding-top: 1.5rem;
        text-align: center;
        color: var(--color-white);
        font-family: var(--font-family-bold);
        cursor: pointer;
        @include apply-responsive-font-size($font-size-text);
        transition: all 300ms ease-in-out;
        &:hover{
          color: var(--color-background-home);
        }
      }
    }
  }
  &__figure {
    min-height: var(--height-components);
    width: 50%;
    @include background-login;
  }
}

@include media-breakpoint-down(xl) {
  .fhv-login {
    &__container {
      padding: 1rem 5rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .fhv-login {
    &__container {
      width: 60%;
    }
  }
}

@include media-breakpoint-down(md) {
  .fhv-login {
    @include background-login;
    justify-content: center;
    &__figure {
      display: none;
    }
    &__container {
      width: 100%;
      border-radius: 0;
      padding: 1.5rem;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background-color: var(--color-primary);
      }
      &::before {
        display: none;
      }
    }
  }
}

%flex-align-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
