@import "media-queries";
@import "font-size";

fhv-eye-button {
  @include apply-responsive-font-size($font-size-text);
  position: absolute;
  top: 2.25rem;
  right: 1rem;
  .fhv-eye-button {
    color: var(--color-black);
    cursor: pointer;
  }
  @include media-breakpoint-down(lg) {
    top: 2rem;
  }
}
