.fhv-main-profile-view {
  height: var(--height-components);
  min-height: var(--height-components);
  background-color: var(--color-base);
  &__top {
    height: 19vh;
    background-color: var(--color-primary);
    width: 100%;
    float: inline-end;
    margin-bottom: 7rem;
    &__flag {
      height: 20vh;
      width: 15rem;
    }
  }
  &__photo {
    width: 14rem;
    height: 14rem;
    top: -14rem;
    img {
      border-radius: 100%;
    }
  }
}
