<li
  class="nav-item dropdown"
  [ngClass]="{ 'order-lg-2 order-2': sesionService.isLoggedIn() }"
>
  <a
    class="nav-link dropdown-toggle"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <i [class]="ICON_CLASS.language"></i>
    {{ "common.navbar.language_button.language_title" | translate }}
  </a>
  <ul
    class="dropdown-menu"
    [ngClass]="{
      'dropdown-menu-lg': !(breakPointService.isMobile$ | async)
    }"
  >
    <li>
      <a
        class="dropdown-item"
        (click)="switchLanguage(LANGUAGE.SPANISH); closeNavbarChild()"
      >
        <span class="fi fi-{{ FLAG_ICON_CLASS.es }}"></span>
        {{ "common.navbar.language_button.language_spanish" | translate }}</a
      >
    </li>
    <li>
      <a
        class="dropdown-item"
        (click)="switchLanguage(LANGUAGE.ENGLISH); closeNavbarChild()"
      >
        <span class="fi fi-{{ FLAG_ICON_CLASS.en }}"></span>
        {{ "common.navbar.language_button.language_english" | translate }}</a
      >
    </li>
    <li>
      <a
        class="dropdown-item"
        (click)="switchLanguage(LANGUAGE.FRANCES); closeNavbarChild()"
      >
        <span class="fi fi-{{ FLAG_ICON_CLASS.fr }}"></span>
        {{ "common.navbar.language_button.language_french" | translate }}</a
      >
    </li>
  </ul>
</li>
