/** General styles **/
html {
  font-size: 16px;
}

/* Variables definition */
:root {
  /* Colors */
  --color-base: aliceblue;
  --color-primary: #1b3149;
  --color-tertiary: #fefed5;
  --color-background-home: #8cd1e9;
  --color-message-error: #ff9234;
  --color-bg-submit: #199de8;
  --color-bg-back: #909293;
  --color-style-back: #565658;
  --color-border: #ccc;
  --color-icon-princial: white;
  --color-black: black;
  --color-white: white;
  --color-letter-button: #fff;
  --color-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  /* Colors blocked route */
  --color-bg-blocked-user: antiquewhite;
  --color-bg-gradient: radial-gradient(circle, #ff7e5f, #feb47b);
  /* Fonts */
  --font-family: "Poppins Regular";
  --font-family-bold: "Poppins Semibold";
  --font-family-medium: "Poppins Medium";
  --font-family-light: "Poppins Light";
  /* Custom properties */
  --border-radius-containers: 1rem;
  --border-radius-input: 0.25rem;
  --border-radius-button: 0.75rem;
  --height-components: calc(100vh - 3.5rem);
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: 1rem;
  background-color: var(--color-base);
  color: var(--color-black);
  margin: 0;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  margin: 0;
}

@import "bootstrap/scss/bootstrap";
@import "custom-modal";
@import "custom-sweet-alert";
@import "fonts";
